* {margin: 0;padding: 0;}

#mainBoard{
    clear: both;
    float: left;
    padding: 8px;
    margin: 24px 0px;
    border: 1px solid #bbb;
}
.clear{
    clear:both;
}
.bdRow {
    position: relative;
}
.bdGrid {
    position: relative;
    border: 1px solid #666;
    float: left;
    margin: 2px;
    width: 60px;
    height: 60px;
    border-radius: 2px;
    box-shadow: 0px 0px 4px #ccc;
    background-color: #fff;
    cursor: pointer;
}

.bdGrid.wall {
    background-color: #666;
}

.bdGrid.on {
    background-color: #6cf;
    border: 1px solid #39f;
    box-shadow: 0px 0px 4px #6cf;
}
.bdGrid.click {
    background-color: #f90;
    border: 1px solid #f73;
    box-shadow: 0px 0px 4px #f90;
}

.bdGrid.selected::after{
    font: 14px/1 FontAwesome;
    position: absolute;
    top: 50%;
    left: 50%;
    content: "\f00c";
    color: #fff;
    font-size: 18px;
    width: 20px;
    height: 20px;
    background-color: #6c6;
    border-radius: 18px;
}

.Go {
    margin: 8px 2px;
    cursor: pointer;
    background-color: #666;
    width: 100%;
    height: 80px;
    font-family: Arial;
    font-size: 32px;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding-top: 16px;
}